<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/DSC_1139 (1).jpg" width="200" alt="Kipli" class="img-thumbnail rounded-circle">
      <h1 class="display-4"><b>Kimpleng</b></h1>
      <p class="lead">Web Developer | Graphic Designer</p>
    </div>
  </div>
</div>